<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="pagination" class="pagination">
    <ul>
        <li th:if="${offers.hasPrevious()}">
            <a class="arrow" th:href="@{/allOffers(page=0, size=${offers.size}, filter=${offers.sort})}">&#171;</a>
        </li>
        <li th:if="${offers.hasPrevious()}">
            <a class="arrow" th:href="@{/allOffers(page=${offers.number - 1}, size=${offers.size}, filter=${offers.sort})}">&#8249;</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, offers.totalPages - 1)}" th:class="${pageNumber == offers.number ? 'active' : ''}">
            <a th:href="@{/allOffers(page=${pageNumber}, size=${offers.size}, filter=${offers.sort})}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:if="${offers.hasNext()}">
            <a class="arrow" th:href="@{/allOffers(page=${offers.number + 1}, size=${offers.size}, filter=${offers.sort})}">&#8250;</a>
        </li>
        <li th:if="${offers.hasNext()}">
            <a class="arrow" th:href="@{/allOffers(page=${offers.totalPages - 1}, size=${offers.size}, filter=${offers.sort})}">&#187;</a>
        </li>
    </ul>
</div>
</body>
</html>